<DOCTYPE html>
	<html ng-app="quoteBook">
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>	
		<body ng-controller="mainCtrl">
		<div>
		<ul>
	      <li ng-repeat="quote in quotes">
	        {{quote.text}} -{{quote.author}}
	      </li>
    	</ul>
		</div>
		<div>
			<button ng-click="quotesAdd()">Add Quote</button>
			<input></input>
			<button>Remove Quote</button>
			<input></input>
			<button>Filter Quotes</button>
			<input></input>
		</div>
	
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/mainCtrl.js"></script>
		<script src="js/dataService.js"></script>
		</body>
	</html>